<div class="right-rail">
  <div class="right-rail-top">
    <div class="right-rail-title">
      Recent posts
    </div>
    <div class="right-rail-content">
      <li>
        <a>Node modules version issue with heroku app</a>
      </li>
      <li>
        <a>Node modules version issue with heroku app</a>
      </li>
      <li>
        <a>Node modules version issue with heroku app</a>
      </li>
      <li>
        <a>Node modules version issue with heroku app</a>
      </li>
    </div>
  </div>

  <div class="right-rail-middle">
    <div class="right-rail-title">
      Recent posts
    </div>
    <div class="right-rail-content">
      <li>
        <a>Node modules version issue with heroku app</a>
      </li>
      <li>
        <a>Node modules version issue with heroku app</a>
      </li>
      <li>
        <a>Node modules version issue with heroku app</a>
      </li>
      <li>
        <a>Node modules version issue with heroku app</a>
      </li>
    </div>
  </div>
</div>