<app-header></app-header>
<app-admin-panel-header></app-admin-panel-header>

<div class="categories">

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Details</th>
        <th> <input class="form-control" type="text" name="search" [(ngModel)]='searchText' placeholder="Search"> </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let blog of blogs | searchByTitlePipe:searchText | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{ blog._id }}</td>
        <td>{{ blog.title }}</td>
        <td>{{ blog.details.substring(0,20) }}</td>
        <td><a id="{{blog._id}}" attr.data-details="{{blog.details}}" class="blog-anchor" data-title="{{blog.title}}"
            (click)="onNavigate($event)">Edit</a></td>
        <td><a id="{{blog._id}}" class="blog-anchor" (click)="onDelete($event)">Delete</a></td>
      </tr>
    </tbody>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </table>


</div>
