<app-header></app-header>
<app-admin-panel-header></app-admin-panel-header>

<div class="categories">
  <!--
    <div class="categories-table">
      <ng2-smart-table (createConfirm)="onCreateConfirm($event)" routerLink='admin-panel/blog-edit-page' (editConfirm)="onSaveConfirm($event)"
      (createConfirm)="onCreateConfirm($event)" [settings]="settings" [source]="source" mode="inline"></ng2-smart-table>
    </div>
  -->

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let blog of blogs; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{ blog._id }}</td>
        <td>{{ blog.title }}</td>
        <td>{{ blog.details.substring(0,20) }}</td>
        <td><a id="{{blog._id}}" attr.data-details="{{blog.details}}" class="blog-anchor" data-title="{{blog.title}}"
            (click)="onNavigate($event)">Edit</a></td>
        <td><a id="{{blog._id}}" class="blog-anchor" (click)="onDelete($event)">Delete</a></td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" tabindex="-1" id='previous' (click)="pagination($event)">Previous</a>
      </li>
      <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li> -->
      <li class="page-item">
        <a class="page-link" id='next' (click)="pagination($event)">Next</a>
      </li>
    </ul>
  </nav>
</div>