<app-header></app-header>
<app-admin-panel-header></app-admin-panel-header>

<!-- <section class="category"> -->

<!--
  <div class="category-loader" *ngIf="!categories">
    Loading categories <i class="fa fa-spinner fa-spin"></i>
  </div>
-->

<!--
  <div class="category-list">
    <h4>Categories</h4>

    <ul class="dropdown">
      <li *ngFor="let category of categories">
        <a href="#" routerLink="/categories/{{ category._id }}">{{
          category.name
        }}</a>
      </li>
    </ul>
  </div>

  <div class="category-add">
    <h4>Add New Category</h4>
    <label>Category</label>
    <input
      type="text"
      name="newCategory"
      class="form-control"
      [(ngModel)]="newCategory"
    />
    <button type="button" (click)="addCategory()" [disabled]="btnDisabled">
      Add Category
    </button>
  </div>
-->
<!-- </section> -->
<!--
<div class="create">
  <div class="create-categories">
    <div class="create-blog-list">
      <ul>
        <li *ngFor="let category of categories">
          <a href="#" routerLink="/categories/{{ category._id }}">{{
            category.name
          }}</a>
        </li>
      </ul>
    </div>
    <div class="create-category-button">
      <button>Add new category</button>
    </div>
  </div>

  <div class="create-blog">
    <div class="create-blog-box">
      <div class="create-blog-title">
        <h4>Create blog post</h4>
      </div>
      <div class="create-blog-title-input">
        <label>Title: </label>
        <input type="text" />
      </div>
      <div class="create-blog-details">
        <textarea #blogDetails id="edit-blog" rows="15" cols="70" required></textarea>
      </div>
      <div class="create-blog-submit">
        <button type="button">Submit</button>
      </div>
    </div>
  </div>
</div> -->


<div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th mat-header-cell *matHeaderCellDef> Weight </th>
        <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </mat-table>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
  </div>


  <!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
