.create {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 20% 50%;
  margin-top: 50px;
}

.create-blog-list {
}

.create-blog {
  border: 1px solid #efefef;
  padding: 20px;
  display: grid;
  justify-items: center;
}

.create-blog-details {
  margin-top: 30px;
}

// .category-list {
//   width: 100%;
// }

// a {
//   text-decoration: none;
// }

// nav {
//   font-family: monospace;
// }

// ul {
//   overflow-y: scroll;
// }

// li {
//   list-style: none;
// }
