<div data-modal="trigger-1" class="modal">
  <article class="content-wrapper">
    <button class="close"></button>
    <header class="modal-header">
      <h2>Create blog</h2>
      <p>
        <input type="text" class='blog-title' #blogTitle/>
      </p>
    </header>
    <div class="content">
      <textarea #blogDetails id="edit-blog" rows="15" cols="70" required></textarea>
    </div>
    <footer class="modal-footer">
      <button class="action modal-submit" (click)="onBlogSubmit()">Submit</button>
    </footer>
  </article>
</div>
