<div data-modal="trigger-1" class="modal">
  <article class="content-wrapper">
    <button class="close"></button>
    <header class="modal-header">
      <h2>This is a modal 1</h2>
    </header>
    <div class="content">
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
        tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas
        semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper
        pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit
        eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.</p>
    </div>
    <footer class="modal-footer">
      <button class="action">Accept</button>
      <button class="action">Decline</button>
    </footer>
  </article>
</div>

<button data-modal-trigger="trigger-1" class="trigger" (click)="modalEvent($event)">
  <i class="fa fa-fire" aria-hidden="true"></i>
  Modal 1
</button>