<div class="center">

  <div class="blog">
      <div class="blog-title">Node modules version issue with heroku app</div>
      <div class="blog-timestamp">By techstack21 on 2018-07-01</div>
      <div class="blog-content">In some cases, when you create a pull request, you might end up having merge conflicts and to resolve it you use "git pull" into your local branch and some how you remove a folder/file, then resolve</div>
  </div>


  <div class="blog">
      <div class="blog-title">Node modules version issue with heroku app</div>
      <div class="blog-timestamp">By techstack21 on 2018-07-01</div>
      <div class="blog-content">In some cases, when you create a pull request, you might end up having merge conflicts and to resolve it you use "git pull" into your local branch and some how you remove a folder/file, then resolve</div>
  </div>


</div>