.blog-edit {
    display: grid;
    grid-template-columns: 100%;
    border: 1px solid #ccc;
    margin: 50px 0;
    .blog-edit-header {
        display: grid;
        .blog-edit-title {}
        .blog-edit-input {}
    }
    .blog-edit-body {
        margin: 0 auto;
        .blog-edit-content {
            display: grid;
        }
        .blog-edit-footer {
            margin: 5px 0;
            text-align: center;
        }
    }
}